@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Light.woff2') format('woff2'),
        url('../fonts/ClearSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans-Bold.woff2') format('woff2'),
        url('../fonts/ClearSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('../fonts/ClearSans.woff2') format('woff2'),
        url('../fonts/ClearSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
