@import url("reset.css");
#title{
    color: rgb(163, 79, 241);
}
h2.title{
    color: rgb(238, 53, 53);
}
.text1.text{
    color: rgb(90, 114, 220);
}
.text,
.text2{
    color: rgb(55, 153, 55);
}
.text3 p{
    color: rgb(132, 26, 101);
}
.text6 .lesson{
    color: rgb(240, 103, 158);
}
.text4 *{
    color: darkgoldenrod;
}
.text5 > p{
    color: rgb(184, 249, 4);
}
.text + p{
    color: rgb(14, 219, 247);
}
.text ~ p{
    color: rgb(225, 247, 97);
}
.footer *{
    color: rgb(245, 237, 11);
}